%a#login_facebook{:href => user_omniauth_authorize_path(:facebook), :title => 'Login with Facebook'}
%a#login_google{:href => user_omniauth_authorize_path(:google_oauth2), :title => 'Login with Google'}